body {
    background-color: lightgray;
}

.mainHeader {
    background-image: url('../images/jorge-franco-o6VW-lmkjPY-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    height: 400px;

    @media screen and (max-width: 576px) {
        height: 300px;
    }

    @media screen and (max-width: 380px) {
        height: 200px;
    }
}

.totalMgNotice {
    color: green;
}

#drinkDescription {
    margin-bottom: 1rem;
}

#formError {
    color: red;
}
