{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Vanilla JS version using localStorage for current data and Airtable API as source of drink data</p>
                            <a class="btn btn-primary" href="/vanilla-js-index">Go Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">
                            <p>PHP only version using MySQL DB for current and drink data</p>
                            <a class="btn btn-primary" href="/php-drinks">Go Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
