{% extends "base.html.twig" %}

{% block title %}Add Default Drinks{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col my-4 text-center">
                {{ message }}
            </div>
        </div>
    </div>
{% endblock %}
