{% extends "basePhp.html.twig" %}

{% block title %}Drinks - PHP{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>You can consume up to 500mg in one day!</h3>
                Log what you have drank today and let's see how you are doing.
                <br /><br />
                <form action="/php-drinks/clear-drinks">
                    <button class="btn btn-secondary" type="submit">Reset Drinks</button>
                </form>
            </div>

            <div class="col-md-7">
                <div class="totalMgNotice">Currently you are at <strong>{{ totalMGs }}mg</strong></div>
                <br/><br/>
                <form id="drinkForm-php" action="/php-drinks/form-handler">
                    <div class="form-group">
                        <label for="drinkOptions">Select a Drink</label>
                        <select class="form-control" name="drinkOptions" id="drinkOptions">
                            <option value="">-- Select One --</option>
                            {% for drink in drinks %}
                                <option value="{{ drink.name|lower|replace({ ' ': '-' }) }}">{{ drink.name|e }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="drinkDescription" class="text-center px-5"></div>
                    <div class="form-group">
                        <label for="drinkCount">How Many?</label>
                        <select class="form-control" name="drinkCount" id="drinkCount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <div id="formError">{{ error }}</div>

                    <button type="submit" class="btn btn-primary mb-2">Add Drink</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
