{% extends "basePhp.html.twig" %}

{% block title %}Results - PHP{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pb-4">
            <div class="col">
                <a href="/php-drinks" title="Add Another Drink">< Add Another Drink</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Entry</th>
                                <th scope="col">Drink</th>
                                <th scope="col">Total Drank</th>
                                <th scope="col">Serving Size</th>
                                <th scope="col">Total MG</th>
                            </tr>
                        </thead>
                        <tbody id="resultsTableBody">
                        {% for drink in drinks %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ drink.name }}</td>
                                <td>{{ drink.quantity }}</td>
                                <td>{{ drink.servingSize }}</td>
                                <td>{{ drink.totalDrinkMGs }}mg</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <strong>Total MGs Consumed:</strong> <span>{{ totalMGs }}</span>
            </div>
        </div>
    </div>
{% endblock %}
