{% extends "baseVanilla.html.twig" %}

{% block title %}Drinks - Vanilla JS{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3>You can consume up to 500mg in one day!</h3>
                Log what you have drank today and let's see how you are doing.
                <br /><br />
                <button class="btn btn-secondary" id="resetVjsData">Reset Drinks</button>
            </div>

            <div class="col-md-7">
                <div class="totalMgNotice">Currently you are at <strong><span id="totalMGNotice"></span>mg</strong></div>
                <br/><br/>
                <form id="drinkForm" data-controller="form">
                    <div class="form-group">
                        <label for="drinkOptions">Select a Drink</label>
                        <select class="form-control" id="drinkOptions">
                            <option value="">-- Select One --</option>
                        </select>
                    </div>
                    <div id="drinkDescription" class="text-center px-5"></div>
                    <div class="form-group">
                        <label for="drinkCount">How Many?</label>
                        <select class="form-control" id="drinkCount">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <div id="formError"></div>

                    <button type="submit" class="btn btn-primary mb-2">Add Drink</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
