{% extends "baseVanilla.html.twig" %}

{% block title %}Results - Vanilla JS{% endblock %}

{% block body %}
    <div class="container">
        <div class="row pb-4">
            <div class="col">
                <a href="/vanilla-js-index" title="Add Another Drink">< Add Another Drink</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped" data-controller="results">
                        <thead>
                            <tr>
                                <th scope="col">Entry</th>
                                <th scope="col">Drink</th>
                                <th scope="col">Total Drank</th>
                                <th scope="col">Serving Size</th>
                                <th scope="col">Total MG</th>
                            </tr>
                        </thead>
                        <tbody id="resultsTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <strong>Total MGs Consumed:</strong> <span id="totalConsumed"></span>
            </div>
        </div>
    </div>
{% endblock %}
